{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Restaurant</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>
<div class="main" style="width: 1650px">
    <div class="flex-space header">
        <div class="center">
            <div class="header-buttons header-buttons">
                <a class="button" href="{% url "restaurant-list" %}">Restaurant list</a>
{#                <a class="button" href="{% url "menu-list" %}">Menu list</a>  <!-- przycisk do list menu -->#}
                {% if user.is_authenticated %}
                    <a class="button" href="{% url "user-panel" %}">User panel</a>
                {% endif %}
            </div>
        </div>
        <div class="center" style="margin-right: 20px">
            {% if user.is_authenticated %}
                <div class="log-text">You are logged in as: <b>{{ user.username }}</b></div>
                <div><a class="log-button" href="{% url "logout" %}">Log out</a></div>
            {% else %}
                <div class="log-text">You are not logged in.</div>
                <div><a class="log-button" href="{% url "login" %}">Sign in</a></div>
                <div><a class="log-button" href="{% url "add-user" %}">Add new User</a></div>

            {% endif %}
        </div>
    </div>
    <div>
    {% block content %}
        <div class="center-div" style="margin: 150px 0">
            <h1>Welcome</h1>
        </div>
    {% endblock %}
    </div>
</div>
</body>

</html>