{% extends 'home.html' %}
{% block content %}
    <div class="head-div">
            <div class="div3">
                <h2>Menu name</h2>
            </div>
            <div class="div3">
                <h2>Description</h2>
            </div>
            <div class="div3">
                <h2>Category</h2>
            </div>
    </div>
    <ol>
    {% for menu in menus %}
        <li>
            <div class="div3">
                 <h2><a href="{% url "menu" menu.id %}">{{ menu.name }}</a></h2>
            </div>
            <div class="div3 description">
                {{ menu.description }}
            </div>
            <div class="div3">
                <h3>{{ menu.restaurant.category }}</h3>
            </div>
        </li>
    {% endfor %}
    </ol>
{% endblock content %}